<!DOCTYPE html>
<html>
  <head>
    <title> bookStore </title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <header>
      <div class="flex">
       <a class="btn" href="/"><h1 class="">Home</h1></a>
       <a class="btn" href="/books/new">Add book</a>
      </div>
   </header>
      <div class="container">
        <div class="home-page textalign top-50">
          <h1 class="home-page-heading f-weight">Welcome To bookStore</h1>
          <a class="btn" href="/books/">Go To Bookstore</a>
        </div>
      </div>
  </body>
</html>
